---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/adaccounts?access_token=<FACEBOOK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - '"f648b5305fd7c5223ea332ee92e639e5a62b789a"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"account_id":"<AD_ACCOUNT_ID>","id":"act_<AD_ACCOUNT_ID>"}],"paging":{"cursors":{"after":"NjAwMjM5NTc1NjY0Ng==","before":"NjAwMjM5NTc1NjY0Ng=="}}}'
  recorded_at: Fri, 31 Oct 2014 00:01:48 GMT
recorded_with: VCR 2.9.3
